<% layout('layout') -%>

<!-- CONTAINER -->
<div id="about_container" class="container main_container">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>
                I know you love watching movies, series or even silly youtube videos. But even if you talk all day long
                of what you should watch next, when it's time to pick up a good movies, your "<b>to-watch list</b>" is empty.
                How sad it is!
            </p>

            <p>
                <b>AnyWatch</b> is here to help you remembering all those movies, youtube videos, documentaries ...
                you've heard of one day.
            </p>

            <p>
                For the curious geeks, here are how we built this at AnyWatch :
                <ul>
                    <li><b>nodejs</b> with Express</li>
                    <li><b>parse.com</b> to store the data </li>
                    <li><b>trello</b> as a management tools</li>
                </ul>
            </p>
        </div>

    </div>

</div><!-- end of CONTAINER -->