<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form method="post" action="/signup">
        <input type="text" id="login" name="login" placeholder="Login"/>
        <input type="password" id="password" name="password" placeholder="Password"/>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm password"/>
        <input type="submit" />
    </form>
  </body>
</html>