<% layout('layout') -%>
<% script('/js/services/tasks_service.js') -%>


<script>
    $(document).ready(function() {

        loadTasks();

        $('#add_task_form').submit(function() {
            // retrieve the data from the form
            var author = $('#author').val();
            var title = $('#title').val();
            var taskUrl = $('#task_url').val();

            // save the task
            saveTask(author, title, taskUrl);

            return false;
        });
    });
</script>


<!-- CONTAINER -->
<div id="task_container" class="container main_container">

    <!-- add tasks form -->
    <form class="form-inline text-center" id="add_task_form" >
        <div class="form-group">
            <label class="sr-only" for="author">Author</label>
            <input type="text" class="form-control" id="author" name="author" placeholder="Author"/>
        </div>
        <div class="form-group">
            <label class="sr-only" for="author">Login</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title"/>
        </div>
        <div class="form-group">
            <label class="sr-only" for="author">Author</label>
            <input type="text" class="form-control" id="task_url" name="task_url" placeholder="Url"/>
        </div>
        <button id="add_task_submit" class="btn btn-primary">Add to watch</button>
    </form> <!-- end of add tasks form -->


    <!-- tasks list container -->
    <div id="tasks_list_container" class="row">

    </div> <!-- end tasks list container -->


</div><!-- end of CONTAINER -->
